<div>
  <h2>Edit Cd</h2>
  <p>User Name: {{user.username}}</p>
  <p>User Id: {{user._id}}</p>
  <p>Cd Id: {{user._id.cdLibrary.[0]._id}}</p>
  <form method="put" action="/users/show/{{user._id}}">
    <input type="text" name="artist" value="{{user.cdLibrary.[0].artist}}"><br><br>
    <input type="text" name="album" value="{{user.cdLibrary.[0].album}}"><br><br>
    <input type="text" name="year" value="{{user.cdLibrary.[0].year}}"><br><br>
    <input type="text" name="genre" value="{{user.cdLibrary.[0].genre}}"><br><br>
    <input type="submit" value="Edit">
  </form>
</div><br>
<div>
  <a href="/users/show/{{user._id}}">Back</a>
</div>
