<h1> users index page</h1>
{{#each users}}
        <div>
          <label>User Name: </label>
          <a href="/users/{{_id}}">{{username}}</a></div>
            {{#each cdLibrary}}
              <ul>
                <li>{{artist}}</li>
                <li>{{album}}</li>
                <li>{{year}}</li>
                <li>{{genre}}</li>
              </ul>
            {{/each}}
            <br>
            <a href="users/{{_id}}/new">Create a new cd</a>
{{/each}}<br>
{{users}}
