<!-- {{#each users}}
    <div>
        <div><a href="/users/"+{{_id}}>{{username}}</a></div>
            {{#each cdLibrary}}
                <p>{{artist}}</p>
                <p>{{album}}</p>
                <p>{{year}}</p>
                <p>{{genre}}</p>
            {{/each}}
            <br>
    </div>
{{/each}}
{{users}} -->
<h1> users index page</h1>

{{users}}

{{#each users}}
  <ul>
    <li>{{username}}</li>
    <a href="/users/{{_id}}">show</a>
  </ul>
{{/each}}
