<div class="contact-link"><a href="/users">
<div class="contact-icon"><i class="fa fa-arrow-circle-left"></i></div></a></div>
<div class="show">
  <h1>{{user.username}}'s CD Library</h1><br>
  <a class="btn btn-primary btn-lg" href="/users/new/{{user._id}}">Create New CD</a><br><br>
    {{#each user.cdLibrary}}
    <a href="/users/{{../user._id}}/edit/{{@index}}">
      <div class="disk">
        <div class="container-top">
          <p><b>{{artist}}</b></p>
          <p>{{album}}</p>
        </div>
          <form class="delete" method="post" action="/users/{{../user._id}}/delete/{{_id}}?_method=delete">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form><br>
        <div class="container-bottom">
          <p>{{year}}</p>
          <p>{{genre}}</p>
        </div>
      </div>
    </a>
    {{/each}}
</div>
