<a class="btn btn-default btn-lg"href="/users">Back</a>
<a href="/users/new/{{user._id}}">Create new Cd</a>
<div class="home">
  <h1>{{user.username}}'s CD Library</h1>
    {{#each user.cdLibrary}}
    <a href="/users/{{../user._id}}/edit/{{@index}}">
      <div class="disk">
        <div class="container-top">
          <p><b>{{artist}}</b></p>
          <p>{{album}}</p>
        </div>
          <form class="delete" method="post" action="/users/{{../user._id}}/delete/{{_id}}?_method=delete">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form><br>
        <div class="container-bottom">
          <p>{{year}}</p>
          <p>{{genre}}</p>
        </div>
      </div>
    </a>
    {{/each}}
</div>
